<div class="nexmoe-widget-wrap">
    <div class="nexmoe-widget nexmoe-social">
        <% for (name in theme.apps) { %><a class="mdui-ripple" href="<%- url_for(theme.apps[name][0]) -%>" target="_blank" mdui-tooltip="{content: '<%= name %>'}" style="color: <%= theme.apps[name][2] %>;background-color: <%= theme.apps[name][3] %>;">
            <i class="nexmoefont <% if (theme.apps[name][1]){ %><%= theme.apps[name][1] %><%} else{ %><%= 'icon-unorderedlist' %><% } %>"></i>
        </a><% } %>
    </div>
</div>