<link rel="stylesheet" href="<%- theme.cdn.gitalk.css %>">
<script src="<%- url_for() %><%= theme.sources.md5.js %>"></script>
<div id="gitalk"></div>
<script src="<%- theme.cdn.gitalk.js %>"></script>
<script type="text/javascript">
    // var gitalk = new Gitalk({
    //   clientID: '<%- theme.gitalk.clientID %>',
    //   clientSecret: '<%- theme.gitalk.clientSecret %>',
    //   repo: '<%- theme.gitalk.repo %>',
    //   owner: '<%- theme.gitalk.owner %>',
    //   admin: '<%- theme.gitalk.admin %>',
    //   id: '<%- theme.gitalk.id%>',
    //   labels: '<%- theme.gitalk.labels %>'.split(',').filter(l => l),
    // //   perPage: '<%- theme.gitalk.perPage %>',
    //   pagerDirection: '<%- theme.gitalk.pagerDirection %>',
    //   createIssueManually: '<%- theme.gitalk.createIssueManually %>',
    //   distractionFreeMode: '<%- theme.gitalk.distractionFreeMode %>'
    // })
    idCfg = "<%= theme.gitalk.clientID %>"
    secretCfg = "<%= theme.gitalk.clientSecret %>"
    repoCfg = "<%= theme.gitalk.repo %>"
    ownerCfg = "<%= theme.gitalk.owner %>"
    adminCfg = "<%= theme.gitalk.admin %>"
    var gitalk = new Gitalk({
      clientID: idCfg,
      clientSecret: secretCfg,
      repo: repoCfg,
      owner: ownerCfg,
      admin: adminCfg,
      id: md5(location.pathname),
      labels: ['Gitalk'],
      perPage: 15,
      pagerDirection: 'last',
      createIssueManually: true,
      distractionFreeMode: false
    })
    gitalk.render('gitalk')
</script>